<%- include('../includes/util/head.ejs') %>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="/css/global.css">
<link rel="stylesheet" href="/css/header-footer/header.css">
<link rel="stylesheet" href="/css/header-footer/footer.css">
<link rel="stylesheet" href="/css/auth/auth.css">
<link rel="stylesheet" href="/css/header-footer/nav-user.css">
<link href="node_modules/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">


</head>
<body>
    <main>
        <%- include('../includes/header/header.ejs') %>

        <div class="auth max-width">
            <div class="auth__container">
              <div class="auth__content">
                <h2>Mật khẩu mới</h2>
              </div>
              <div class="auth__container-form">
                <form class="auth__form-auth" action="/auth/new-password" method="post">
                  <% if(errorMessage) {%>
                    <div class="error-auth">
                        
                        <h5><svg viewBox="0 0 16 16" class="fJb11i">
                          <path fill="none" stroke="#FF424F" d="M8 15A7 7 0 108 1a7 7 0 000 14z" clip-rule="evenodd"></path>
                          <rect stroke="none" width="7" height="1.5" x="6.061" y="5" fill="#FF424F" rx=".75" transform="rotate(45 6.06 5)"></rect>
                          <rect stroke="none" width="7" height="1.5" fill="#FF424F" rx=".75" transform="scale(-1 1) rotate(45 -11.01 -9.51)"></rect>
                      </svg><%= errorMessage %></h5>
                      </div>
                    <% } %>
                    <div class="auth__form-control">
                        <label for="password">Mật khẩu</label>
                        <input
                          id="password"
                          name="password"
                          placeholder="Nhập mật khẩu"
                          class="auth__search <%= validationErrors.find(err => err.path === 'password') ? 'invalid' : '' %>"
                          type="password"
                        />
                      </div>
                      <div class="auth__form-control">
                        <label for="confirmPassword">Nhập lại mật khẩu</label>
                        <input
                          id="confirmPassword"
                          name="confirmPassword"
                          placeholder="Nhập lại mật khẩu"
                          class="auth__search <%= validationErrors.find(err => err.path === 'confirmPassword') || validationErrors.find(err => err.path === 'password') ? 'invalid' : '' %>"
                          type="password"
                        />
                      </div>
                  <button class="auth__btn-auth">XÁC NHẬN</button>
                  <input type="text" hidden name="token" value="<%= oldInput.token %>">
                  <input type="text" hidden name="userId"  value="<%=  oldInput.userId %>">
                </form>
              </div>
            </div>
        </div>
        
        <%- include('../includes/footer/footer.ejs') %>
    </main>
<%- include('../includes/util/end.ejs') %>