<div class="category__container">
  <div class="category__content">
    <% if(!adminEdit) {%>
    <div class="category__content-user">
      <h3>DANH MỤC SẢN PHẨM</h3>
      <ul class="category__list-category">
        <li>
          <a
            href="/products"
            class="<%= path1 === '/products' ? 'active_category' : '' %>"
            >Tất cả sản phẩm</a
          >
          <ul class="category__list-category2">
            <% if (types) { %> <% types.forEach(function(type) { %>
            <li>
              <a
                href="/products/<%= type.FLAG %>"
                class="<%= path1 === '/products/' + type.FLAG ? 'active_category' : '' %>"
                ><%= type.NAMETYPE %></a
              >
            </li>
            <% }); %> <% } %>
          </ul>
        </li>
      </ul>
    </div>
    <% } else { %>
    <div class="category__list-admin">
      <h3>DANH MỤC ADMIN</h3>
      <ul class="category__list-category">
        <li>
          <a
            href="/admin"
            class="<%= path1 === '/admin' ? 'active_category' : '' %>"
            >Tất cả sản phẩm</a
          >
          <ul class="category__list-category2">
            <% if (types) { %> <% types.forEach(function(type) { %>
            <li>
              <a
                href="/admin/<%= type.nametype %>"
                class="<%= path1 === '/admin/' + type.nametype ? 'active_category' : '' %>"
                ><%= type.vntype %></a
              >
            </li>
            <% }); %> <% } %>
          </ul>
        </li>
        <li>
          <a
            href="/admin/list-type"
            class="<%= path1 === '/admin/list-type' ? 'active_category' : '' %>"
            >Danh sách loại sản phẩm</a
          >
        </li>
        <li>
          <a
            href="/admin/add-product"
            class="<%= path1 === '/admin/add-product' ? 'active_category' : '' %>"
            >Thêm sản phẩm</a
          >
        </li>
        <li>
          <a
            href="/admin/add-type"
            class="<%= path1 === '/admin/add-type' ? 'active_category' : '' %>"
            >Thêm loại sản phẩm</a
          >
        </li>
      </ul>
    </div>
    <% }%>
  </div>
</div>
