<%- include('../../includes/util/head.ejs') %>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="/css/global.css">
<link rel="stylesheet" href="/css/header-footer/header.css">
<link rel="stylesheet" href="/css/header-footer/footer.css">
<link rel="stylesheet" href="/css/header-footer/nav-user.css">
<link rel="stylesheet" href="/css/shop/order.css">
<link href="node_modules/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">


</head>
<body>
    <main>
        <%- include('../../includes/header/header.ejs') %>
        <div class="order max-width">
            <div class="order__container">
                <ul class="order__list-order">
                    <% if (orders && orders.length > 0) { %>
                        <% orders.map((order) => { %>
                            <li class="order__item-list-order">
                                <div class="order__info-order">
                                    <h3>Mã đơn hàng : <%= order.orderId %></h3>
                                    <a href="/invoice/<%= order.orderId %>">In Hóa Đơn</a>
                                </div>
                                <div class="order__info-product">
                                    <ul class="order__list-item-info-product">
                                        <% let orderTotal = 0; %>
                                        <% order.products.map((product) => { %>
                                            <li class="order__item-product">
                                                <div class="order__item-product-top">
                                                    <div class="order__contentImage">
                                                        <img src="<%= product.imageUrl %>" class="order__img" />
                                                    </div>
                                                    <div class="order__title-quantity">
                                                        <h3>Sản phẩm: <%= product.title %></h3>
                                                        <h5>Số lượng: x<%= product.quantity %></h5>
                                                    </div>
                                                    <div class="order__price">Giá: <span><%= product.price %> VND</span></div>
                                                </div>
                                                <% let productTotal = product.price * product.quantity; %>
                                                <% orderTotal += productTotal; %>
                                            </li>
                                        <% }) %>
                                    </ul>
                                </div>
                                <div class="order__item-product-bottom">
                                    <div class="order__evaluate">
                                        <a href="">Đánh giá Shop</a>
                                    </div>
                                    <div class="order__container-total-fee">
                                        <h4 class="order__fee-transport">Phí vận chuyển: <span><%= order.fee - orderTotal  %> VND</span></h4>
                                        <h4 class="order__total">Thành Tiền: <span><%=  order.fee %> VND</span></h4>
                                        <form action="/repurchase-product" class="order__form-repurchase" method="post">
                                            <button>Mua lại</button>
                                            <input type="text" hidden name="orderId" value="<%= order.orderId %>">
                                        </form>
                                    </div>
                                </div>
                            </li>
                        <% }) %>
                    <% } else { %>
                        <div class="no-product">
                            <h3>Không có sản phẩm nào</h3>
                        </div>
                    <% } %>
                </ul>                
            </div>
        </div>
        <%- include('../../includes/footer/footer.ejs') %>
    </main>
<%- include('../../includes/util/end.ejs') %>